[submodule "test/doctest"]
	path = test/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "perf/benchmark"]
	path = perf/benchmark
	url = git@github.com:google/benchmark.git
[submodule "perf/googletest"]
	path = perf/googletest
	url = https://github.com/google/googletest.git
[submodule "./benchmark"]
	url = https://github.com/google/benchmark.git
